/* Will be compiled down to a single stylesheet with your sass files */

body {
  margin-top: 1em;
  margin-bottom: 10em;
}

.logo {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
}

.lead {
  margin-top: 1em;
  font-size: 1.2em;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.nav-tabs {
  margin-bottom: 0;
}

.bordered {
  position: relative;
  padding: 15px 15px 15px;
  margin: 0 -15px 15px;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}

.card {
  width: 80px;
  height: 110px;
  color: #333;
  background-color: #fff;
  border-color: #adadad;
  font-size:200%;
  text-align: center;
  white-space: nowrap;
  vertical-align: bottom;
  border: 1px solid;
  border-radius: 4px;
  padding-top:30px;
  margin:10px;
}

.card-facedown {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQYV2NkIAIwEqHmPyFF/4GGMBJSBLYIlyKwCTCnYFOEogCfSSj+QTYJwwR063AqACkEAGnjBgmbf5VOAAAAAElFTkSuQmCC) repeat;
}

.list-item {
  width: 105px;
}

.list-item .truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gb-btn {
  margin-top:1em;
}

.vspace {
  margin-top:2em;
}

span[contenteditable=true] {
  background: rgba(0,0,0,0); /* transparent bg */
  resize:none; /* disable resizing */
  display:block;
  height:inherit;
  padding:5px;
}

span[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
  font-style: italic;
}

span[placeholder]:empty:focus:before {
  content: "";
}

.btn-start {
	font-size: 24px;
	padding: 14px 24px;
	background-color:#ff0700;
}

.btn-start:hover {
	background-color:#ee0700;
}

.footer {
	margin-top:200px;
}

.timer-display {
  letter-spacing: 2px;
  font-size: 72px;
  font-weight: bold;
}

.timer-message {
  font-size: 36px;
  font-weight: bold;
  color: #d9534f;
}

.social-buttons {
  margin-top: 5em;
  height: 40px;
  vertical-align: top;
}

div[contenteditable='true'],
span[contenteditable='true'] {
  padding: .5em;
  border-radius: 3px;
  outline: none;
  border: 1px solid transparent;
}

div[contenteditable='true']:hover,
span[contenteditable='true']:hover {
  background: #ffffff;
  border-color: #adadad;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
}

div:focus, div:focus:hover,
span:focus, span:focus:hover {
  background: #ffffff;
  border-color: #69c773;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
}

#estimate-results {
    position: relative;
}

#player-counter {
    position: absolute;
    right: 0px;
    bottom: 5px;
}

/* sharing buttons */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link,
.resp-sharing-button__link:hover,
.resp-sharing-button__link:active,
.resp-sharing-button__link:focus {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
  vertical-align: text-bottom;
}

.resp-sharing-button {
  font-size: 0.9em;
  border-radius: 3px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--hackernews {
  background-color: #FF6600
}
.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:active {
  background-color: #FB6200
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--hackernews {
  background-color: #FF6600;
  border-color: #FF6600;
}

.resp-sharing-button--hackernews:hover
.resp-sharing-button--hackernews:active {
  background-color: #FB6200;
  border-color: #FB6200;
}
