/* Will be compiled down to a single stylesheet with your sass files */

body {
  margin-top: 1em;
  margin-bottom: 10em;
}

.logo {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
}

.lead {
  margin-top: 1em;
  font-size: 1.2em;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.nav-tabs {
  margin-bottom: 0;
}

.bordered {
  position: relative;
  padding: 15px 15px 15px;
  margin: 0 -15px 15px;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}

.card {
  width: 80px;
  height: 110px;
  color: #333;
  background-color: #fff;
  border-color: #adadad;
  font-size:200%;
  text-align: center;
  white-space: nowrap;
  vertical-align: bottom;
  border: 1px solid;
  border-radius: 4px;
  padding-top:30px;
  margin:10px;
}

.card-facedown {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQYV2NkIAIwEqHmPyFF/4GGMBJSBLYIlyKwCTCnYFOEogCfSSj+QTYJwwR063AqACkEAGnjBgmbf5VOAAAAAElFTkSuQmCC) repeat;
}

.gb-btn {
  margin-top:1em;
}

.vspace {
  margin-top:2em;
}

span[contenteditable=true] {
   background: rgba(0,0,0,0); /* transparent bg */
   resize:none; /* disable resizing */
   display:block;
   height:inherit;
   padding:5px;
}

.btn-start {
	font-size: 24px;
	padding: 14px 24px;
	background-color:#ff0700;
}

.btn-start:hover {
	background-color:#ee0700;
}

.footer {
	margin-top:200px;
}

.timer-display {
  letter-spacing: 2px;
  font-size: 72px;
  font-weight: bold;
}

.timer-message {
  font-size: 36px;
  font-weight: bold;
  color: #d9534f;
}

.social-buttons {
  margin-top: 5em;
  height: 40px;
}

div[contenteditable='true'],
span[contenteditable='true'] {
  padding: .5em;
  border-radius: 3px;
  outline: none;
  border: 2px solid transparent;
}

div[contenteditable='true']:hover,
span[contenteditable='true']:hover {
  background: #f5f5f5;
}

div:focus, div:focus:hover,
span:focus, span:focus:hover {
  background: #ffffff;
  border-color: #69c773;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15) inset;
}
