<div class="row">
  <div class="col-md-8">
    <h1>Games</h1>
    <p>&nbsp;</p>
    <div class="bordered">
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <h4 class="media-heading"><a href="/#/games/1">Game name</a></h4>
            <p>Game description</p>
            <p><small>11 October 2013, 09:42 UTC | 10 stories</small></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <p>Import from CSV or create stories.</p>
    <a href="/#/games/new">Create new game</a>
  </div>
</div>

<p>You have no games.</p>
