
<div class="lead">
  <p>Planning poker, also called Scrum poker, is a consensus-based 
    technique for estimating, mostly used to estimate effort or relative size of 
    user stories in <a href="http://en.wikipedia.org/wiki/Software_development" title="Software development" target="_blank">software development</a>. 
    In planning poker, members of the group make estimates by playing numbered 
    cards face-down to the table, instead of speaking them aloud. The cards are 
    revealed, and the estimates are then discussed. By hiding the figures in 
    this way, the group can avoid the cognitive bias of 
    <a href="http://en.wikipedia.org/wiki/Anchoring" title="Anchoring" target="_blank">anchoring</a>, where the first 
    number spoken aloud sets a precedent for subsequent estimates. Source: <a href="http://en.wikipedia.org/wiki/Planning_poker" target="_blank">Wikipedia</a>.
  </p>
  <p>This is a weekend project featuring AngularJS + Firebase.</p>
  <p><a href="/#/games/new" class="btn btn-success btn-lg">Start playing</a></p>
</div>


