
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="bordered">
      <h1>Login</h1>
      <p>&nbsp;</p>
      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail</label>
          <input type="email" class="form-control" ng-model="user.email" placeholder="Enter e-mail">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" class="form-control" ng-model="user.password" placeholder="Enter password">
        </div>
        <div class="form-group">
          <label class="checkbox">
            <input type="checkbox" ng-model="user.rememberMe"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-success" ng-click="login()">Login</button>
         or 
        <button type="submit" class="btn btn-primary" ng-click="signup()">Sign-up</button>
      </form>
  </div>
</div>
